*{
   padding:0;
   margin:0;
   box-sizing:border-box;
 }
  div {
   padding:1px;
   width: 100%;
   height: 100vh;
   background: #E38F66;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 #topPart{
   margin:auto;
   
  width:130px;
  height:120px;
  background-color:#FFFBDA;
   position:relative;
   overflow:hidden;
   transform: translate(-16px,145px);
 }
 #vertical{
   background-color:#62306D;
   width:10px;
   height: 200px;
  
 }
 #topPart::after,#topPart::before{
  content: '';
position: absolute;
width: 70px;
height: 195px;
transform: translate(-57px,-2px);
rotate: 10deg;
background-color: #E38F66;
 }
 #topPart::after{
  transform: translate(88px,-2px);
rotate: -10deg;
 }
